:root {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* farver */
    --primary: #ffffff;
    --neutral: #f0f1f5;
    --one: #181921;
    --two: #2b2c33;
    --three: #e84044;
    --four: #c8000b;
    --five: #ebe7df;
  
    /* font */
    --primary-font: 'Barlow', sans-serif;
    --regular: 400;
    --bold: 700;
    --black: 900;
  
    /* font-size i px */
    --fs-400: 16px;
    --fs-500: 17px;
    --fs-600: 20px;
    --fs-700: 30px;
    --fs-800: 40px;
    --fs-900: 56px;

    /* font-weight */
    .fw-bold { font-weight: var(--bold);}
    .fw-black { font-weight: var(--black);}
    .fw-regular { font-weight: var(--regular);}
  
  
    /* klasser */
    .bg-primary { background-color: var(--primary);}      
    .bg-header { background-color: var(--primary);}
    .bg-nav { background-color: var(--five);}
    .bg-section { background-color: var(--neutral);}
    .bg-box { background-color: var(--five);}
    .bg-footer { background-color: var(--two);}
    
    .primary-heading { color: var(--one);}
    .secondary-heading { color: var(--primary);}
    .heading-color { color: var(--four);}
    .text-color { color: var(--two);}
    .text.light { color: var(--primary);}    
}

body {

background-color: var(--primary);

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}

.topnav {
    display: flex;
    background-color: var(--five);
    padding: 40px 25px 40px 25px;
}

.tabnav {
    display: flex;
    background-color: var(--five);
    align-items: center;
    border-color: var(--five);
    outline-style: none;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: var(--fs-400);
    font-weight: var(--black);

}

.button {
    background-color: var(--three);
    border: none;
    color: var(--primary);
    padding: 15 px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--primary-font);
    font-size: var(--fs-400);
    font-weight: var(--bold);

}

.main-heading {
    font-family: var(--primary-font);
    font-size: var(--fs-900);
    font-weight: var(--bold);
    color: var(--four);
    text-align: center;
}

.heading {
    font-family: var(--primary-font);
    font-size: var(--fs-700);
    font-weight: var(--bold);
    color: var(--one);
    text-align: center;
}



.footer {
    background-color: var(--two);
    
}