#redline {
    width: 200px; /* Adjust the width as needed */
    height: 2px; /* Adjust the height as needed */
    background-color: red;
    margin: 10px auto; /* To center the line vertically */
}
/* Center the H2 element with ID "kortheader" and apply the font style */
#kortheader {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin: 10px 0; /* Center the H2 element */
}
/* Add styling for the map container */
#map {
  width: 100%; /* Adjust the width as needed */
  height: 800px; /* Adjust the height as needed */
  margin-top: 20px; /* Add margin to separate it from the content above */
}
