body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--neutral);
}

.logo {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 25px;
margin-bottom: 20px;
}


.main-header {
color: var(--four);
font-size: var(--fs-800);
font-weight: var(--bold-weight);
text-align: center;
}

.topnav {
    width: 100%;
    background-color: var(--five);
}
