body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--neutral);
}

.logo {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 25px;
margin-bottom: 20px;
}


.main-header {
color: var(--four);
font-size: var(--fs-800);
font-weight: var(--bold-weight);
text-align: center;
}

.h2 {
    color: var(--two);
    font-size: var(--fs-700);
    font-weight: var(--bold-weight);
    
    
}

.topnav {
    overflow: hidden;
    background-color: var(--five);
}

.nav-list {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: var(--500);
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}